@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply outline-none border-transparent
    active:border-transparent active:outline-none;
  }

  .icon {
		@apply cursor-pointer w-12 h-12 relative
    group-focus:ring-0 group-active:ring-0
    flex items-center justify-center m-2 p-2
    rounded-lg hover:rounded-2xl transition-all hover:scale-110
    text-gray-900 dark:text-gray-300
    fill-gray-800 dark:fill-gray-200
    hover:bg-gray-900 dark:hover:bg-gray-200
    hover:text-gray-200 dark:hover:text-gray-900

    focus:border-transparent  focus:ring-1
    focus:ring-inset focus:ring-current;
	}

	.tooltip {
		@apply absolute w-auto p-2 m-2 min-w-max
		rounded-md shadow-md
		text-xs font-bold
		transition-all duration-100 scale-0
    bg-gray-800 dark:bg-gray-200
    text-gray-200 dark:text-gray-800
    hover:bg-gray-800 dark:hover:bg-gray-200
    hover:text-gray-200 dark:hover:text-gray-800;
	}

	.svg-icon {
		@apply h-8 w-8;
	}

  canvas {
    overflow: hidden;
  }
}
